name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_msvc:
    runs-on: windows-latest

    steps:
      - run: mkdir download
      
      - uses: actions/cache@v2
        id: libtorch-download-cache
        with:
          key: libtorch-download-cache
          path: download/libtorch.zip

      - if: steps.libtorch-download-cache.outputs.cache-hit != 'true'
        run: Invoke-WebRequest https://download.pytorch.org/libtorch/cu111/libtorch-win-shared-with-deps-1.9.0%2Bcu111.zip -OutFile download/libtorch.zip

      - uses: actions/cache@v2
        id: libtorch-unzip-cache
        with:
          key: libtorch-unzip-cache
          path: download/libtorch
          
      - if: steps.libtorch-unzip-cache.outputs.cache-hit != 'true'
        run: Expand-Archive -Path download/libtorch.zip -DestinationPath download/

      - run: |
          ls download/libtorch

#       - uses: actions/checkout@v2
#       - uses: ilammy/msvc-dev-cmd@v1
      
#       - name: build
#         run: |
#           cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch .
#           cmake --build . --config Release

#       - name: run
#         run: |
#           Release/check.exe
