name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_msvc:
    runs-on: windows-latest

    steps:
      - uses: actions/cache@v2
        id: cache-libtorch
        with:
          key: cache-libtorch
          path: libtorch

#       - if: steps.cache-libtorch.outputs.cache-hit != 'true'
#         run: |
#           mkdir libtorch
#           Invoke-WebRequest https://download.pytorch.org/libtorch/cu111/libtorch-win-shared-with-deps-1.9.0%2Bcu111.zip -OutFile libtorch/libtorch.zip
#           Expand-Archive -Path libtorch/libtorch.zip -DestinationPath libtorch/

      - run: |
          Invoke-WebRequest https://download.pytorch.org/libtorch/cu111/libtorch-win-shared-with-deps-1.9.0%2Bcu111.zip -OutFile libtorch.zip
          Expand-Archive -Path libtorch.zip -DestinationPath libtorch/

      - run: |
          ls libtorch
          
      - run: |
          ls libtorch/*/

#       - uses: actions/checkout@v2
#       - uses: ilammy/msvc-dev-cmd@v1
      
#       - name: build
#         run: |
#           cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch .
#           cmake --build . --config Release

#       - name: run
#         run: |
#           Release/check.exe
