name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_msvc:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
      
      - name: build
        run: |
          cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch .
          cmake --build . --config Release

      - name: run
        run: |
          ./check.exe
